<h2>Catagories</h2>
<mat-accordion>
  <mat-expansion-panel *ngFor="let option of optionList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{option.listName}}
      </mat-panel-title>
      <mat-panel-description>
        {{option.listDescription}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-option
      [option]="option">
    </app-option>
  </mat-expansion-panel>
</mat-accordion>
<button mat-raised-button (click)="openOptionDialog()" color="primary">
  <fa-icon [icon]="faPlus"></fa-icon>
</button>