<h1 mat-dialog-title>New List</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="option.listName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="option.listDescription">
	</mat-form-field>
	<mat-form-field>
		<mat-label>List Type</mat-label>
		<mat-select [(ngModel)]="option.type">
			<mat-option *ngFor="let type of listTypes | keyvalue" [value]="type.key">
				{{ type.value }}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div mat-dialog-actions>
  <button 
    mat-button 
    color="primary" 
    (click)="saveOption()" 
		cdkFocusInitial>
		Ok
	</button>
  <button 
    mat-button 
		(click)="onNoClick()">
		Cancel
	</button>
</div>
