<mat-toolbar class="header" color="primary">
  <span routerLink="/">Simple Lists</span>
	<span class="fill-remaining-space"></span>
	<span *ngIf="userData && userData.email">
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<fa-icon [icon]="faUser"></fa-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<span>{{userData.email}}</span>
			</button>
			<button mat-menu-item (click)="signOut()">
				<span>Logout</span>
			</button>
		</mat-menu>
	</span>
</mat-toolbar>