.header {
  .app-name {
    font-size: larger;
  }

  :not(.app-name) {
    font-size: large;
  }

  span {
    padding: 0.5em;
  }
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}