.footer {
	font-size: small;
	color: white;
	height: 25px;

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		line-height: initial;
		text-align: right;
	}

	a:link {
		color: white;
		text-decoration: none;
	}

	a:visited {
		color: white;
		text-decoration: none;
	}

  span {
    padding: 0em 0.5em;
  }
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}