<mat-toolbar class="footer" color="primary">
  <span class="fill-remaining-space"></span>
		<span>{{npmVersion}}</span>
		<span>
			<a href="https://gitlab.com/MitchB09/random-item-picker-web/-/commit/{{commitSHA}}">
				{{commitSHA}}
			</a>
		</span>
		<span>
			<a href="https://gitlab.com/MitchB09/random-item-picker-web/-/tree/{{branchName}}">
				{{branchName}}
			</a>
		</span>
</mat-toolbar>