.loading {
	width: 50%;
	margin: auto;
	padding: 50px;

	.mat-spinner {
		margin: inherit;
	}
}

.page {
	width: 50%;
	margin: auto;

	.content {
		min-height: 225px;
	}

	.mat-spinner {
		margin: inherit;
	}

	.buttons {
		display: flex;
		justify-content: space-evenly;
		padding-top: 10px;

		.mat-raised-button {
			margin: inherit;
		}
	}
}

