<div class="page">
	<div class="content">
		<div *ngIf="isLoaded; then loaded; else loading"></div>
	</div>
	<div>
		<input matInput size="3" [(ngModel)]="notificationInterval">
	</div>
	<div class="buttons">
		<button 
			mat-raised-button color="primary"
			(click)="getRandomItem();">
			Get Another
		</button>
		<button 
			mat-raised-button
			routerLink="/{{id}}">
			Update List
		</button>
		<button 
			mat-raised-button
			routerLink="/">
			Home
		</button>
	</div>
	<div class="buttons">
		<button *ngIf="notificationPermission === 'default'"
			mat-raised-button
			(click)="setupNotifications();">
			Setup Notifications
		</button>
		<button *ngIf="notificationPermission === 'granted'"
			mat-raised-button
			(click)="createNotification();">
			Create Notification
		</button>
		<button *ngIf="notificationPermission === 'granted'"
			mat-raised-button
			(click)="loopNotifications();">
			Send Notification Every {{notificationInterval}}min
		</button>
	</div>
</div>

<ng-template #loaded>
  <h2>{{option.listName}}</h2>
  <div>
    {{randomItem.value}}
  </div>
</ng-template>
<ng-template #loading>
  <div>
    Loading...
  </div>
</ng-template>
