$footer-height: 25px;

.content {
	padding: 1.5em;
	padding-bottom: $footer-height;    /* Footer height */
}

button {
  margin:1em 0em;
  margin-right: 1em;
}

#page {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;            /* Footer height */
}

