<div id="page">
	
		<app-header></app-header>
		<div class="content">
			<amplify-authenticator>
				<router-outlet></router-outlet>
			</amplify-authenticator>
		</div>
	<app-footer id="footer"></app-footer>
</div>