<div class="option-card">
  <button mat-raised-button color="primary" routerLink="/{{option.listName}}/random">
    Get Random Item
  </button>
  <button mat-raised-button (click)="editCategory()">
    Edit Category
  </button>
  <button mat-raised-button routerLink="/{{option.listName}}">
    Edit Items
	</button>
	<button mat-raised-button (click)="deleteList()">
    Delete List
  </button>
	
</div>
