<div *ngIf="option; then loaded; else loading"></div>

<ng-template #loaded>
  <div class="listName">{{option.listName}}</div>
  <div class="optionItems">
    <div class="optionItem" *ngFor="let item of option.items">
      <app-textfield 
        [(text)]="item.value" 
        (textChange)="updateItem(item)">
      </app-textfield>
      <div class="actions">
        <fa-icon 
        class="action" 
        [icon]="faTimesCircle" 
        (click)="deleteItem(item.id)"
        style="vertical-align: middle;"></fa-icon>
      </div>
    </div>
    <div class="optionItem">
      <app-textfield 
        [(text)]="newItem" 
	      (textChange)="addItem(newItem)">
      </app-textfield>
    </div>
  </div>
  <button mat-raised-button (click)="updateOption();" color="primary">
    Save
  </button>
  <button mat-raised-button (click)="deleteOption();">
    Delete
  </button>
  <button mat-raised-button routerLink="/{{option.listName}}/random">
    Get Random Item
  </button>
</ng-template>
<ng-template #loading>
  <div>
    Loading...
  </div>
</ng-template>