<span class="container">

	<span *ngIf="checkable && currentMode != 1">
	  <input type="checkbox" [checked]="checked" (click)="checkItem();"/>
	</span>
	<span class="texta" *ngIf="currentMode == 0" (click)="editable && makeEditable();">
		<span class="placeholder" *ngIf="!text">{{placeholder}}</span>
		{{text}}
	</span>
	<span class="texta" *ngIf="currentMode == 1">
		<input #newText (keydown)="onKeyDown($event)" (keydown.escape)="cancel()" value="{{text}}"/>
	</span>
	<span *ngIf="currentMode == 2">
		<s>{{text}}</s>
	</span>
	<span class="actions">
		<fa-icon [icon]="faEdit" *ngIf="editable && currentMode == 0" class="action" (click)="makeEditable();"></fa-icon>
		<fa-icon [icon]="faCheck" *ngIf="currentMode == 1" class="action" (click)="updateText();"></fa-icon>
		<fa-icon [icon]="faTimes" *ngIf="currentMode == 1" class="action" (click)="cancel();"></fa-icon>
	</span>
</span>
