.container {
	display: flex;
	border: 2px black solid;
	width: 300px;

	.texta {
		flex: 2;
	}

	input {
		width:100%;
		border: none;
	}

	span {
		margin: 5px;

		.placeholder {
			font-style: italic;
			color: gray;
		}
	}

	.actions {
		float:right;
	}

	.action {
		padding:0.25em;
		opacity: 0.75;
	}
}
